body{
    background-color:#FFF2D8;
}
.navbar{
    background-color: #71C9CE;
}
.navbar img{
    border-radius: 50%;
}
.navbar-brand{
    text-decoration: none;
    color:black;
}
.card-body a{
    background-color: #F8DE22;
}
.card-body img{
    width: 200px;
}
.card-body{
    background-color: #71C9CE;
}
.ig{
    width: 35px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
